*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 760px;
    
    
}
#head{
    width: 1600px;
    
}

.navbar{
    
    background: #1A0B2E;
    display: flex;
    border: 1.5px solid rgb(58, 15, 58);
    justify-content: space-between;
}
.navbar h3{
    width: 219px;
    
    font-size: 34px;
    font-weight: bold;
    border: 1px;
    color: #FFFFFF;
    background: rgba(26, 11, 46, 1);
    margin: 30px 200px;
}
.navbar .s{
      font-family: 'Inter',sans-serif;
      font-weight: bold;
      background: linear-gradient(rgba(247,233,63,1),rgba(251,9,180,1),rgba(145,0,248,1));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

}
.navbar .menu a{
    font-family: "Inter",sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    margin: 36px 20px;
    gap: 32px;
    color: #FFFFFF;


}
.navbar ul{
    display: flex;
    gap: 32px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.navbar a {
    text-decoration: none;
}
.navbar button{
    margin: 24px 200px 24px 200px;
    align-items: center;
    padding:12px 16px ;
    color: #FFFFFF;
    border-radius: 100000px;
    border: none;
    background:linear-gradient(rgba(247, 233, 63,1),rgba(251, 9, 180, 1),rgba(145,0,248,1));

    font-size: 16px;
    font-family: "Inter",sans-serif;
    font-weight: 600;

}

.hero-main{
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
}





