*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 760px;
    
    
}
#head{
    width: 1600px;
    
}

.navbar{
    
    background: #1A0B2E;
    display: flex;
    border: 1.5px solid rgb(58, 15, 58);
    justify-content: space-between;
}
.navbar h3{
    width: 219px;
    
    font-size: 34px;
    font-weight: bold;
    border: 1px;
    color: #FFFFFF;
    background: rgba(26, 11, 46, 1);
    margin: 30px 200px;
}
.navbar .s{
      font-family: 'Inter',sans-serif;
      font-weight: bold;
      background: linear-gradient(rgba(247,233,63,1),rgba(251,9,180,1),rgba(145,0,248,1));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

}
.navbar .menu a{
    font-family: "Inter",sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    margin: 36px 20px;
    gap: 32px;
    color: #FFFFFF;


}
.navbar ul{
    display: flex;
    gap: 32px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.navbar a {
    text-decoration: none;
}
.navbar button{
    margin: 24px 200px 24px 200px;
    align-items: center;
    padding:12px 16px ;
    color: #FFFFFF;
    border-radius: 1000px;
    border: none;
    background:linear-gradient(rgba(247, 233, 63,1),rgba(251, 9, 180, 1),rgba(145,0,248,1));

    font-size: 16px;
    font-family: "Inter",sans-serif;
    font-weight: 600;

}

.hero-main{
    background: url("../assets/hero-bg.png");
    
    background-repeat: no-repeat;
    width: 1600px;
    height: 760px;
   
}
.img-1{
    width: 350px;
    height: 350px;
    margin: 102px 626px ;
    margin-bottom: 40px;
}
.child-1 h2{
    font-size: 60px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    font-family: "Inter",sans-serif;
    font-weight: 800;
    margin-bottom: 8px;
}
.child-1 p{
    font-size: 16px;
    display: flex;
    line-height: auto;
    color: #FFFFFF;
    opacity: 80%;
    justify-content: center;
    font-family: "Inter",sans-serif;
    margin-bottom: 24px;
}
.child-2{
    width: 356px;
    height: 44px;
    margin: 28px 623px;    
}
.child-2 .pic-1{
    padding: 12px 20px;
    font-size: 16px;
    font-family: "Inter",sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 1000px;
    border: none;
    background:linear-gradient(rgba(247, 233, 63,1),rgba(251, 9, 180, 1),rgba(145,0,248,1));
    margin-right: 8px;
}
.child-2 .pic-2{
    width: 147px;
    padding: 12.5px 20px;
    font-size: 16px;
    font-family: "Inter",sans-serif;
    font-weight: 600;
    color: #00FF88;
    border-radius: 1000px;
    border: 1px solid;
    background-color: #1A0B2E;
    
}







